@import "~typeface-noto-sans";
@import "~typeface-poppins";

.Weather {
  border: 2px solid rgb(192, 187, 187);
  border-radius: 6px;
  margin: 200px auto auto;
  font-family: Noto Sans, "sans-serif";
}

.Weather form {
  margin: 35px 60px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.Weather .search-inputs {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Weather .form-control {
  padding: 15px;
  flex-grow: 1;
  box-sizing: border-box;
}

.Weather .btn {
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0, 7);
  width: auto;
}

.Weather h1 {
  margin: 40px auto auto 82px;
  font-size: 60px;
  font-weight: 400;
}

.Weather .weather-info-1 {
  margin: 40px 0 0 70px;
}

.Weather .weather-info-1 ul {
  list-style-type: square;
}

.Weather .grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  border: 1px solid rgb(221, 217, 217);
  margin: 60px 0 0 0;
  padding: 40px 20px;
  max-width: 650px;
}
.Weather .icon-current-weather {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.Weather .icon-current-weather img {
  width: 230px;
  height: auto;
}

.Weather .temperature {
  font-size: 40px;
  margin-top: 0;
  line-height: 33px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -7px;
  margin-left: 3px;
}
.Weather .weather-info-2 {
  margin: 0 10px 0 20px;
  padding-left: 10px;
}

.Weather .weather-info-2 ul {
  list-style: square;
  padding-left: 10px;
  margin: 0;
}

.Weather .weather-number {
  font-size: 16px;
  font-weight: 800;
}
