.WeatherForecast {
  text-align: center;
  border: none;
  border-radius: 0;
}

.WeatherForecast .col {
  margin: 25px 25px;
  padding: 40px 20px;
  border-radius: 3px;
}

.WeatherForecast .col:hover {
  background: rgba(255, 255, 255, 0.589);
}

.WeatherForecast-day {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
.WeatherForecastTemperatureMin {
  opacity: 0.8;
  margin-left: 5px;
  font-size: 18px;
  color: #363132;
  font-weight: 500;
}

.WeatherForecastTemperatureMax {
  font-size: 18px;
  color: #363132;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .WeatherForecast .col {
    margin: 15px 15px;
    padding: 30px 15px;
  }

  .WeatherForecast-day {
    font-size: 18px;
  }

  .WeatherForecastTemperatureMin {
    font-size: 16px;
  }

  .WeatherForecastTemperatureMax {
    font-size: 16px;
  }
}
